@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: "Times New Roman", Times, serif;
    background-color: #e7f8ff; /*77acec*/
    margin: 0.1px;
    padding: 2%;
}

#tentacles {
    width: 50px;
}

html {
    scroll-behavior: smooth;
}

.header {
    width:100%;
    height: 0.2%;
    padding: 0.2%;
    background-color: #7e9e9f;
    align-items: center;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
}

.stats-container {
    width: 100%;
    display: flex; /* this defines the container */
    flex-flow: row nowrap; /* set flex direction to row, and flex wrap to nowrap, defaults */
    justify-content: space-between; /* equal space between items */
    align-items: center; /* i was stuck between this and stretch but it kinda makes no difference */
    background-color: #e7f8ff; /* this is the css rule i added to the stats container. its pretty ugly tho */

    button:hover {
        cursor: pointer;
        box-shadow: 0 0 30px rgb(169, 198, 237);
    }
}

.stats-card {
    background-color: #BCDEF1;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {  /*um here's a comment bc i added this class*/
    background-color: #BCDEF1;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    transform: scale(1.08);
}

/* .nav-bar {
    this was commented out (background-color: #5c87cb;)
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    margin-left: 50%; */

/* i was thinking to make it a button but that got too busy
.nav-bar:hover {
    cursor: pointer;
    transform: scale(1.08);
}
*/

#button-container {
    text-align: center;
}

button {
    font-family: "Times New Roman", Times, serif;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    background-color: #BCDEF1;
}

.search-wrapper {
    background-color: #a2c7c8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 1%;
    margin-left: 20px;
    margin-right: 20px; /*
   width: 300px; when i add width it decenters?? */
    /* margin-left: 44%; */
}

hr {
    width: 100%;
    height: 4px;
    background-color: #5076b3;
    padding: 0%;
    margin-top: 0;
    margin-left: 0px;

}

.text-box {
    margin-top: 10px;
    max-width: 50%;
}

.user-box{
    position: absolute;
    top: 172px;
    right: 2%;
    display: flex; /* this defines the container */
    flex: 1;
    justify-content: flex-end;
}
/* Media query for smaller screens */
@media (max-width: 50%) {
    .container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
    }

    .text-box, .user-box {
        max-width: 100%; /* Allow full width on small screens */
        margin-right: 0; /* Remove right margin */
    }
}